<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Journal</title>
  {# Bootstrap #}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {# Custom CSS #}
  <link rel="stylesheet" href="{% static 'journal_app/style.css' %}">

  {# Fonts #}
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Gayathri:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&family=Monoton&display=swap" rel="stylesheet">

</head>

<body class="test" style="background-image: url({% static 'journal_app/imgs/back.jpg' %});">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navtext">
    <a class="navbar-brand" href="{% url 'home' %}">
      <i class="fa fa-pencil-square-o" style="font-size:65px;color:red"></i>
    </a>
    <div class="navbar-nav">
      {% if user.is_authenticated %}
      <a class="nav-item nav-link" href="{% url 'create' %}">New Entry</a>
      <a class="nav-item nav-link" href="{% url 'list' %}">Your Journal</a>
      {% else %}
      <a class="nav-item nav-link" href="{% url 'signup' %}">Signup</a>
      <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
      {% endif %}

      <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
    </div>
    {% if user.is_authenticated %}
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="{% url 'logout' %}">Logout <i class="fa fa-sign-out" style="font-size:38px;color:red"></i></a>
    </div>
    {% endif %}


  </nav>

  <div class="container bg">

    {% block content %}
    {% endblock %}

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
